# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [4]:
num1 = 3
print(num1)

3

##### Assinging float

In [5]:
num_float = 6.79
print(num_float)

6.79

#### Performing Calculations on ints and floats

##### Addition

In [12]:
result_add = num1 + num_float
print(result_add)

result_add += 2
print(result_add)

9.79
11.79

##### Subtraction

In [7]:
result_sub = num_float - num1
print(result_sub)

3.79

##### Multiplication

In [9]:
result_mult = num1 * num_float
print(result_mult)

20.37

##### Division

In [10]:
result_div = num_float / num1
print(result_div)

2.263333333333333

##### Floor Division

In [11]:
result_floor = num_float // num1
print(result_floor)

2.0

##### Modulo- returns the remainder

In [15]:
num2 = 10
num3 = 2

num4 = 11
num5 = 4
result_mod1 = num2 % num3
result_mod2 = num4 % num5
print(result_mod1, result_mod2)

0 3

##### Exponential

In [18]:
square = num1 ** 2
cubed = num1 ** 3
print(square, cubed)

9 27

### String Input-Output

##### String Assignment

In [19]:
name = 'jake'
print(name)

jake

##### print() <br>
<p>Don't forget about end=' '</p>

In [22]:
print('this is my first name:', name)
print('full name:', name, end=' nelson')

this is my first name: jake
full name: jake nelson

##### String Concatenation

In [25]:
f_name = 'john'
l_name = 'jefferson'
full_name = f_name + ' ' + l_name
print(full_name)
full_name += ' .jr'
print(full_name)

john jefferson
john jefferson .jr

##### Type Conversion

In [28]:
number = '32'
change_type_num = int(number)
# only works with actual numbers

print(number + "1")
print(change_type_num + 1)

321
33

##### input()

In [34]:
# input() always returns a string
# name = input('what is your name: ')
# print(name)

age = int(input('what is your age: '))
add_age = age + 5
print('in 5 years, you will be', add_age)

what is your age: 30
in 5 years, you will be 35

##### format()

In [36]:
age = input('what is your age? ')
result_string = 'you are {} {} and you are getting wiser'.format(age, name)
print(result_string)

result_again = f"{age} is a great time in life"
print(result_again)

what is your age? 30
you are 30 jakey and you are getting wiser
30 is a great time in life

##### Old Way (python 2) a bit outdated

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [39]:
car_color = input('what color is your car? ')
car_year = input('what year is your car? ')
car_make = input('what make is your car? ')
car_model = input('what model is your car? ')

print(f'you drive a {car_color} {car_make.title()} {car_model} that came out in {car_year}')

what color is your car? red
what year is your car? 2016
what make is your car? honda
what model is your car? crv
you drive a red Honda crv that came out in 2016

### If Statements

In [47]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 6
num2 = 10
num3 = 0
if num1 == num2:
    print('equal values')
else:
    print('not equal')
    
if num2 > num1 and num3 > 0:
    print('num2 is greater')
elif num1 > num2 or num1 > num3:
    print('num1 is greatest')
else:
    print('the nums are equal')

not equal
num1 is greatest

##### 'is' keyword

In [48]:
# the 'is' keyword is for checking for the same object but not 
# the same value. seems like they're moving away from this 

num3=55
if num3 is 55:
    print('this is the same number')

this is the same number

<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/jb/g9yszc1s6gz42xhwb5w4fvhm0000gn/T/ipykernel_71184/3972985364.py:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [49]:
# check if a character is in a string

char_name = 'mona the dog'
if 'mona' in char_name:
    print('that\'s the dog')

that's the dog

##### 'not in' keyword'

In [50]:
if 'tonks' not in char_name:
    print('tonks is a cat not a dog')

tonks is a cat not a dog

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [52]:
user_input = input('enter a name: ')
p = 'p'
if p in user_input:
    print(f'there is a {p} in your name')
else:
    print(f'there is not a {p} in your name')

enter a name: tonks
there is not a p in your name

## Using 'and'/'or' with If Statements

In [53]:
# for 'and' statements, all arguments need to be true
# for 'or' statements, at least one needs to be true
num_a = 12
num_b = 14
num_c = 40
num_d = 10

if num_a > num_d and num_c > num_a:
    print('true and true')

true and true

### Elif Statements

In [55]:
# python will leave the if statement as soon as it finds
# something that meets the criteria as opposed to going all the
# way through. the order of these statements matters

# else is a catch all

f_name = input('what is your name? ')
if f_name == 'smith':
    print('the name is smith')
elif f_name == 'jake':
    print('the name is jake')
elif f_name != 'max':
    print('the name is not max')
else:
    print('the name is max')

what is your name? max
the name is max

### Else Statements

In [ ]:
# see above

### For Loops

In [56]:
# for loop discussion in python 1.3 starts at 8:14 for reference
# syntax:
# for counter in condition

# common practice to use the letter i for for loops
name = 'jacob nelson'
for letter in name:
    print(letter)

j
a
c
o
b

n
e
l
s
o
n

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [58]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [59]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass

##### Double For Loops

In [60]:
# can run kinda slowly if you're working with giant things
# for every 1 loop that i goes through, j goes through 5
for i in range(5):
    for j in range(5):
        print('i =', i, 'j =',j)

i = 0 j = 0
i = 0 j = 1
i = 0 j = 2
i = 0 j = 3
i = 0 j = 4
i = 1 j = 0
i = 1 j = 1
i = 1 j = 2
i = 1 j = 3
i = 1 j = 4
i = 2 j = 0
i = 2 j = 1
i = 2 j = 2
i = 2 j = 3
i = 2 j = 4
i = 3 j = 0
i = 3 j = 1
i = 3 j = 2
i = 3 j = 3
i = 3 j = 4
i = 4 j = 0
i = 4 j = 1
i = 4 j = 2
i = 4 j = 3
i = 4 j = 4

### While Loops

In [61]:
# syntax:
# while keyword, condition statement

num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [62]:
# can be bad practice because it doesn't have any stop gap

game_over = True

while game_over:
    print('infinite loop')
    user_input = input('would you like to stop? ')
    if user_input == "yes":
        game_over = False

infinite loop
would you like to stop? w
infinite loop
would you like to stop? n
infinite loop
would you like to stop? yes

##### While & For Loops Used Together

In [63]:
num = 0

while num < 5:
    print('\nwhile loop iteration: '+ str(num))
    
    for i in range(2):
        print('for loop iteration: ' + str(i))
    num+=1

while loop iteration: 0
for loop iteration: 0
for loop iteration: 1

while loop iteration: 1
for loop iteration: 0
for loop iteration: 1

while loop iteration: 2
for loop iteration: 0
for loop iteration: 1

while loop iteration: 3
for loop iteration: 0
for loop iteration: 1

while loop iteration: 4
for loop iteration: 0
for loop iteration: 1

### Built-In Functions

##### range()

In [74]:
# range(start, stop, step)
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

##### len()

In [76]:
name = input('what is the name of your favorite book? ')
len(name)

what is the name of your favorite book? the great circle

16

##### help()

In [78]:
# use this to view more info about a python function
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [81]:
# check a variable to find out what object family or data 
# it belongs to

# isinstance(var,type)

print(isinstance(4.5,int))

if isinstance(4.5,float):
    print('this number is a float type')

False
this number is a float type

##### abs()

In [82]:
# absolute value, checking how far something is from 0 regardless
# of positive or negative
print(abs(-5))

5

### Try and Except

In [87]:
# use this to share useful error messages
# does not stop the program

try:
    input_num = int(input('guess a number '))
    print('your number is: '+ str(input_num))
except:
    print('that didn\'t work. change your input to a number')

guess a number pancake
that didn't work. change your input to a number

### Lists

##### Declaring Lists

In [113]:
# declaring an empty list
one_list = []

names = ['sam','cindy','bob','nate']
print(names)

['sam', 'cindy', 'bob', 'nate']

##### Indexing a List

In [108]:
# list_name[start: stop: step]
# Single_index returns as a string
print(names[0])

# prints all items on the list, returns as a list
print(names[0:])

# print starting at the beginning until a certian number
print(names[:2])

# print starting at 0 and going up by 2
print(names[0::2])

# print starting at the back and present in reverse order
print(names[::-1])

sam
['sam', 'cindy', 'bob', 'nate']
['sam', 'cindy']
['sam', 'bob']
['nate', 'bob', 'cindy', 'sam']

##### .append()

In [118]:
# adds to the very end of a list
names.append('brandon')
print(names)

['sam', 'cindy', 'bob', 'nate', 'brandon', 'brandon', 'brandon']

##### .insert()

In [110]:
# adds to a list based on location
names.insert(3,'devon')
print(names)

['sam', 'cindy', 'bob', 'devon', 'nate', 'brandon']

##### .pop()

In [212]:
# defaults to last value if no parameter given
# returns element that was removed 
names = ['sam','cindy','bob','nate']

my_name = names.pop(2)
print(my_name)

bob


##### .remove()

In [119]:
# value to be removed rather than index
names.remove('brandon')
print(names)

# remove multiple values
while'brandon' in names:
    names.remove('brandon')

print(names)

['sam', 'cindy', 'bob', 'nate', 'brandon', 'brandon']
['sam', 'cindy', 'bob', 'nate']

##### del()

In [120]:
# goes my index
# use caution, it can cause indexing errors if not used carefully

del(names[1])
print(names)

['sam', 'bob', 'nate']

##### Concatenating Two Lists

In [123]:
# append two lists together, not add the values
list_2 = [0,1,2]
list_3 = [3,4,5]
large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
# lists can hold any type of other data types including other lists
# called nested lists

names = ['max','sam','josh',['sally', 'sue','tameka']]
print(names)
print(names[3][0])

##### Looping Through Lists

In [125]:
# two ways to loop, index and 'in' keyword

# by index
for i in range(len(names)):
    print(names[i])

    
# loop with in
for i in names:
    print(i)

max
sam
josh
['sally', 'sue', 'tameka']
max
sam
josh
['sally', 'sue', 'tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [69]:
cubed_num = 1
cube = 3

while cubed_num ** cube <= 1000:
    result = cubed_num ** cube
    print(f'{cubed_num} cubed equals {result}')
    cubed_num +=1

1 cubed equals 1
2 cubed equals 8
3 cubed equals 27
4 cubed equals 64
5 cubed equals 125
6 cubed equals 216
7 cubed equals 343
8 cubed equals 512
9 cubed equals 729
10 cubed equals 1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [210]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

prime_check = range(1,101)
prime_nums = []
       
for i in prime_check: 
    if i == 2:
        prime_nums.append(i)
    elif i % 2 == 0 or i % 3 == 0 or i % 4 == 0 or i % 5 == 0 or i % 6 == 0 or i % 7 == 0 or i % 8 == 0 or i % 9 == 0:
        continue
    else:
        prime_nums.append(i)
        
print('these are prime numbers:', prime_nums)

these are prime numbers: [1, 2, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [209]:
#here's a second way i came up with to find prime numbers

prime_check = range(1,101)
prime_nums = []
for num in prime_check:
    if num == 2:
        prime_nums.append(num)
    j = 0
    for i in range(2,10):
        if num % i != 0:
            j = j + i
            if j == 44:
                prime_nums.append(num)
            else:
                continue
        else:
            continue
print('these are prime numbers:', prime_nums)

these are prime numbers: [1, 2, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [2]:
user_age = int(input('What is your age? '))

if user_age < 18:
    print('You are a child')
elif user_age >= 18 and user_age <= 65:
    print('You are an adult')
else:
    print('You are a senior')

You are a child